.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.card {
    width: 330px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.user.match {
    background-color: green;
}

.match-count {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #555;
  }
  
