.card {
    width: 330px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.user.match {
    background-color: green;
}
